body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



footer a:hover {
  color: #ffb3b3; /* tono pastel */
}
.navbar-nav .nav-link.active {
  color: #dc3545 !important; /* rojo pastel */
  font-weight: 600;
}
/* --- Estilo para el enlace activo del Navbar --- */

/* Estilo para la vista de ESCRITORIO (pantallas grandes) */
@media (min-width: 992px) {
  .navbar-nav .nav-link.active {
    /* Usa el mismo rojo que tu logo */
    color: #dc3545 !important; 
    font-weight: 700;
  }
}

/* Estilo para la vista MÓVIL (cuando el menú está colapsado) */
@media (max-width: 991.98px) {
  .navbar-nav .nav-link.active {
    color: #dc3545 !important; /* Texto rojo */
    font-weight: 700;
    
    /* Un fondo suave para que se note más en la lista */
    background-color: rgba(220, 53, 69, 0.05);
    border-radius: 4px;
  }
}